* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 2em;
}

.header-btn {
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #13183F;
  color: #FFFFFF;
  border-radius: 25px;
  width: 165px;
  height: 55px;
}

.container {
  margin-left: 9em;
  margin-right: 9em;
}

.hero-content h1 {
font-size: 3.5rem;
max-width: 50%;
}

.hero-container {
  display: flex;
  padding-top: 9em;
}

.hero-container img {
  width: 100%;
  object-fit: contain;
}

